*{
    margin: 0px;
    padding: 0px;
}

  body{

background-color:#ff8f0e13 ;
  }

/* nav section */
.nav-section{
    display: flex;
    align-items:center;
    justify-content: space-between;
}

/* nav-title */
.nav-title{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
}

/* nev ul */
.nev-ul{
    display: flex;
    list-style: none;
    gap: 75px;
    margin-top: 63px;
    margin-right: 240px;
}