header{
height: 200px ;
background-image: url(https://cdn2.sharechat.com/719968a3-2806-49d9-a422-69c25627487a-485b15b1-e4b0-4196-9e57-8e2b31f4be50);
background-repeat: no-repeat ;
background-position:bottom;
background-size:cover;
background-size:20%;
}
h1{
    color:rgb(255, 4, 4) ;
    text-decoration: underline rgb(155, 0, 252)
}
p{
    color: rgb(7, 32, 220) ;

   
}
li{
    color: rgb(0, 0, 0);
}
ul li{
    color: rgb(17, 57, 204);
   
}
p{
background-color: rgba(0, 0, 0, 0.507);
margin: 20px;
}

